/* Zwerb Stylesheet */

body {
  background-color: #333;
  color: #aaa;
  font-family: cursive;
}

h1 {
  color: #009922;
  border-style: dashed;
  border-width: 1px;
}

p {
  border-style: dashed;
  border-width: 1px;
  border-color: #69a;
}

#example-01 {
  border-style: dashed;
  border-width: 1px;
  border-color: #96a;
  width: 200px;
}

#example-01 h2 {
  text-decoration: underline;
}

#example-01 h4 {
    font-family: Arial, Helvetica, sans-serif;
}

#example-01 ul {
    background-color: darkgoldenrod;
    color: #232;
}

#example-01 ul li{
    color: limegreen;
}

